:root {
  --color-main: #05C46B;
  --color-text: #280d0d;
  --color-bg-gray: #f8f8f8;
}
body {
  color: var(--color-text);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*class common*/
.mb-0{margin-bottom: 0}
.w-100{width: 100%}
.box-shadow{box-shadow: 0px 4px 25px rgb(0 0 0 / 5%)}
.button-green{color: white !important; background-color: var(--color-main) !important;}
.text-center{text-align: center}
.color-green{color: var(--color-main)}
svg.color-green{fill: var(--color-main)}

*, *::after, *::before { box-sizing: border-box; }
img { max-width: 100%; vertical-align: middle}
a{text-decoration: unset; color: var(--color-text)}
a:hover{color: var(--color-main)}