#sidebar > div{border-right: none}
#sidebar .logo{  padding: 14.5px  0 14.5px 26px}
#sidebar .logo img{height: 35px}
#sidebar .list-menu-item{padding-top: 0}
#sidebar .list-menu-item .menu-item{font-size: 16px}
#sidebar .list-menu-item .menu-item .item-button{padding: 10px; border-radius: 5px}
#sidebar .list-menu-item .menu-item .icon{margin-right: 15px; min-width: unset; font-size: 16px}
#sidebar .list-menu-item .menu-item .icon svg{font-size: 26px}
#sidebar .list-menu-item .menu-item:hover .icon{color: white}
#sidebar .list-menu-item .menu-item:hover .item-button{ background-color: var(--color-main); color: white; box-shadow: 0px 3px 7px rgb(5 196 107 / 55%)}
#sidebar .list-menu-item .menu-item.active .item-button { background-color: var(--color-main); color: white; box-shadow: 0px 3px 7px rgb(5 196 107 / 55%)}
#sidebar .list-menu-item .menu-item.active .icon{color: white}